/*!
global > color
------------------------------
*/
:root {
    --color-bg-primary: #ffebeb;
    --color-bg-white: #fff2d3;
    --color-bg-right-pink: #f15080;
    --color-bg-white-pink: #ff779f;
    --color-bg-pink: rgb(255 43 83 / 75%);
    --color-font-base: #db295e;
    --color-font-pink: #f15080;
    --color-font-white: #f4eaea;
    --color-font-beige: #fff2d3;
    --color-font-grey: #757575;
}
