@use "../global" as g;

/*!
component > button
------------------------------
*/
.dropdown-list {
    margin: 0;
    padding: 0;
}
.dropdown-item {
    display: block;
    border-bottom: 1px solid #d0cccc;
}
.dropdown-item-link {
    display: block;
    padding: 1em 1.2em;
    font-size: 0.95em;
    text-decoration: none;
    color: #444;
}
.dropdown-item-link:hover {
    background: #fbfbfb;
}